**/__pycache__ 
**/.venv 
**/.classpath 
**/.dockerignore 
**/**.egg-info
**/.env 
**/.git 
**/.gitignore 
**/.project 
**/.settings 
**/.pytest_cache

**/bin 
**/charts 
**/docker-compose* 
**/compose* 
**/Dockerfile* 
**/secrets.dev.yaml 
**/values.dev.yaml 

LICENSE 
README.md 

div_check/
data/datasets/
data/stats
checkpoints/*.pth*
checkpoints/*.pt*
checkpoints/*.npz*
checkpoints/*.ckpt
logs/ 
others/